$colors: (
  primary: (
    100: #676f9b,
    200: #5d648c,
    300: #52597c,
    400: #484e6d,
    500: #3e435d,
    600: #34384e,
    700: #292c3e,
    800: #1f212f,
    900: #15161f,
    1000: #0a0b0f,
    1100: #050608,
  ),
  title: (
    h1: #9f73e6,
    h2: #ec68c5,
    h3: #FF6F91,
    h4: #FF9671,
    h5: #FFC75F,
    h6: #c0cdf3,
  ),
  element: (
    icon: #adb9db,
    icon-hover: #ebeff7,
    border: #0a0b0f,
    border-light: #484e6d,
    ordered-list-indicator: #ebeff7,
    unordered-list-indicator: #ebeff7,
    markup-tags: #FFC75F,
    markup-attribute: #00C9A7,
    markup-attribute-value: #ebeff7,
  ),
  text: (
    strong: #ebeff7,
    code: #00C9A7,
    inline-code: #00C9A7,
    code-background: #050608,
    paragraph: #c0cdf3,
    quote: #a1acce,
    quote-border: #a1acce,
    link: #00bfff,
    linkUrl: #555555,
    hash-tag: #00C9A7,
  ),
);

.theme-dark {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --color-#{$color}-#{$shade}: #{$value};
    }
  }
}

$colorsLight: (
  primary: (
    100: #959ab9,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #f0f1f5,
    1000: #f0f1f5,
    1100: #f0f1f5,
  ),
  title: (
    h1: #ff4683,
    h2: #598bf7,
    h3: #48e484,
    h4: #fb49ae,
    h5: #63b9ff,
    h6: #b4da54,
  ),
  element: (
    icon: #1f212f,
    border: #fff,
    border-light: #fff,
  ),
  effect: (
    textGlow: #ff98a4,
  ),
  text: (
    strong: #ff98a4,
    code: #6be399,
    paragraph: #1f212f,
    quote: #484e6d,
    link: #67a0fb,
    linkUrl: #e1e2eb,
    hash-tag: #5d648c,
  ),
);

.theme-light {
  @each $color, $shades in $colorsLight {
    @each $shade, $value in $shades {
      --color-#{$color}-#{$shade}: #{$value};
    }
  }
}

@function color( $variant, $type ) {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      @if #{$variant}-#{$type} == #{$color}-#{$shade} {
        @return var(--color-#{$color}-#{$shade});
      };
    };
  };
};
