$colors: (
  primary: (
    100: #676f9b,
    200: #5d648c,
    300: #52597c,
    400: #484e6d,
    500: #3e435d,
    600: #34384e,
    700: #292c3e,
    800: #1f212f,
    900: #15161f,
    1000: #0a0b0f,
    1100: #050608,
  ),
  title: (
    h1: #ff6fcd,
    h2: #FF6F91,
    h3: #ffb86c,
    h4: #fff06c,
    h5: #c5e478,
    h6: #c0cdf3,
  ),
  editor-title: (
    h1: #ff6fcd,
    h2: #FF6F91,
    h3: #ffb86c,
    h4: #fff06c,
    h5: #c5e478,
    h6: #c0cdf3,
  ),
  element: (
    icon: #adb9db,
    icon-hover: #ebeff7,
    icon-highlighted: #00B1F6,
    border: #0a0b0f,
    border-light: #484e6d,
    ordered-list-indicator: #ebeff7,
    unordered-list-indicator: #ebeff7,
    markup-tags: #FFC75F,
    codeBlock: #0a0b0f,
    markup-attribute: #95ff6f,
    markup-attribute-value: #ebeff7,
  ),
  text: (
    paragraph: #c0cdf3,
    strong: #ebeff7,
    code: #00C9A7,
    inline-code: #00C9A7,
    code-background: #050608,
    quote: #c0cdf3,
    quote-border: #FF6F91,
    quotes: #c0cdf3,
    link: #6fa1ff,
    linkUrl: #6fa1ff,
    note-indicator: #FF6F91,
    hash-tag: #95ff6f,
  ),
);

.theme-dark {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --color-#{$color}-#{$shade}: #{$value};
    }
  }
}

$colorsLight: (
  primary: (
    100: #959ab9,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #f0f1f5,
    1000: #f0f1f5,
    1100: #f0f1f5,
  ),
  title: (
    h1: #ff4683,
    h2: #598bf7,
    h3: #48e484,
    h4: #fb49ae,
    h5: #63b9ff,
    h6: #b4da54,
  ),
  element: (
    icon: #1f212f,
    border: #ffffff,
    border-light: #ffffff,
  ),
  effect: (
    textGlow: #ff0040,
  ),
  text: (
    strong: #ff0040,
    code: #6be399,
    paragraph: #1f212f,
    quote: #484e6d,
    link: #2633ab,
    linkUrl: #2633ab,
    hash-tag: #5d648c,
  ),
);

.theme-light {
  @each $color, $shades in $colorsLight {
    @each $shade, $value in $shades {
      --color-#{$color}-#{$shade}: #{$value};
    }
  }
}

@function get-color( $variant, $type ) {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      @if #{$variant}-#{$type} == #{$color}-#{$shade} {
        @return var(--color-#{$color}-#{$shade});
      };
    };
  };
};
