$primaryFont: "Inter", sans-serif;
$secondaryFont: "Jetbrains Mono", monospace;

$fonts: (
  family: (
    primary: $primaryFont,
    secondary: $secondaryFont,
  ),
  size: (
    xtra-small: .75rem,
    small: 1rem,
    regular: 1rem,
    large: 1.15rem,
    xtra-large: 1.25rem,
    2xtra-large: 1.5rem,
    3xtra-large: 1.75rem,
    4xtra-large: 2rem,
  ),
  lineheight: (
    min: 1em,
    medium: 1.5em,
    regular: 1.75em,
    large: 2em,
    xtra-large: 2.25em,
    max: 2.5em,
  ),
);

:root {
  @each $color, $shades in $fonts {
    @each $shade, $value in $shades {
      --color-#{$color}-#{$shade}: #{$value};
    }
  }
}

@function font( $variant, $type ) {
  @each $color, $shades in $fonts {
    @each $shade, $value in $shades {
      @if #{$variant}-#{$type} == #{$color}-#{$shade} {
        @return var(--color-#{$color}-#{$shade});
      };
    };
  };
};
