:root {
  --font-editor-size: 1em;
  --font-editor-linenumbers-size: medium;
  --font-math-preview-size: 1.126em;
  --font-tag-preview-size: 0.9em;
  --font-hover-preview-size: 0.9em;
  --font-prompts-size: 0.875em;
  --font-todoist-title-size: 1em;
  --font-todoist-metadata-size: small;
}

$primaryFont: "Inter", sans-serif;
$secondaryFont: "Jetbrains Mono", monospace;

$fonts: (
  family: (
    primary: $primaryFont,
    secondary: $secondaryFont,
  ),
  size: (
    xtraSmall: .75rem,
    small: .95rem,
    regular: 1rem,
    large: 1.25rem,
    xtra-large: 1.25rem,
    2xtra-large: 1.5rem,
    3xtra-large: 1.75rem,
    4xtra-large: 2rem,
    5xtra-large: 2.25rem,
  ),
  lineheight: (
    min: 1em,
    medium: 1.5em,
    regular: 1.75em,
    max: 2em,
  ),
);

:root {
  @each $color, $shades in $fonts {
    @each $shade, $value in $shades {
      --color-#{$color}-#{$shade}: #{$value};
    }
  }
}

@function font( $variant, $type ) {
  @each $color, $shades in $fonts {
    @each $shade, $value in $shades {
      @if #{$variant}-#{$type} == #{$color}-#{$shade} {
        @return var(--color-#{$color}-#{$shade});
      };
    };
  };
};
