# Logs
*.log
logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Nuxt/Vue build artifacts
.nuxt
.output
nuxt.d.ts

# compiled output
/node_modules

# Cache files
.eslintcache

# Package managers
# .yarn/*
# !.yarn/releases
# !.yarn/plugins

# Environment & secrets
.env

# OS
.DS_Store

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.code-workspace
