node_modules/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.DS_Store

# Prevent upload of CSS files but firefly.css (in case this runs directly within obsidian themes folder)
*.css
!obsidian.css
