@charset "UTF-8";
.theme-dark {
  --color-primary-100: #676f9b;
  --color-primary-200: #5d648c;
  --color-primary-300: #52597c;
  --color-primary-400: #484e6d;
  --color-primary-500: #3e435d;
  --color-primary-600: #34384e;
  --color-primary-700: #292c3e;
  --color-primary-800: #1f212f;
  --color-primary-900: #15161f;
  --color-primary-1000: #0a0b0f;
  --color-primary-1100: #050608;
  --color-title-h1: #ff6c9d;
  --color-title-h2: #82aaff;
  --color-title-h3: #6be399;
  --color-title-h4: #ff79c6;
  --color-title-h5: #8bcafd;
  --color-title-h6: #c5e478;
  --color-element-icon: #adb9db;
  --color-element-border: #0a0b0f;
  --color-element-border-light: #484e6d;
  --color-text-strong: #ff98a4;
  --color-text-code: #6be399;
  --color-text-paragraph: #c0cdf3;
  --color-text-quote: #a1acce;
  --color-text-link: #67a0fb;
  --color-text-linkUrl: #555555;
  --color-text-hash-tag: #adb9db;
}

:root {
  --font-editor-size: 1em;
  --font-editor-linenumbers-size: medium;
  --font-math-preview-size: 1.126em;
  --font-tag-preview-size: 0.9em;
  --font-hover-preview-size: 0.9em;
  --font-prompts-size: 0.875em;
  --font-todoist-title-size: 1em;
  --font-todoist-metadata-size: small;
}

:root {
  --color-family-primary: Inter, sans-serif;
  --color-family-secondary: Jetbrains Mono, monospace;
  --color-size-xtraSmall: 0.75rem;
  --color-size-small: 0.95rem;
  --color-size-regular: 1rem;
  --color-size-large: 1.25rem;
  --color-size-xtraLarge: 2rem;
  --color-lineheight-min: 1em;
  --color-lineheight-medium: 1.5em;
  --color-lineheight-regular: 1.75em;
  --color-lineheight-max: 2em;
}

.cm-header-1,
.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5,
.cm-header-6 {
  line-height: var(--color-lineheight-regular);
  font-weight: 500;
  font-size: var(--color-size-regular);
}

.cm-header-1 {
  color: var(--color-title-h1);
}

.cm-header-2 {
  color: var(--color-title-h2);
}

.cm-header-3 {
  color: var(--color-title-h3);
}

.cm-header-4 {
  color: var(--color-title-h4);
}

.cm-header-5 {
  color: var(--color-title-h5);
}

.cm-header-6 {
  color: var(--color-title-h6);
}

.cm-s-obsidian {
  color: var(--color-text-paragraph);
  font-family: var(--color-family-secondary);
  font-size: var(--color-size-regular);
  font-weight: 500;
  line-height: var(--color-lineheight-regular);
}
.cm-s-obsidian .cm-em,
.cm-s-obsidian .cm-strong {
  color: var(--color-text-strong);
}
.cm-s-obsidian pre.HyperMD-codeblock {
  font-family: var(--color-family-secondary);
  font-size: var(--color-size-small);
  font-weight: 500;
  line-height: var(--color-lineheight-max);
  background-color: var(--color-primary-1100);
}
.cm-s-obsidian .cm-hmd-codeblock {
  color: var(--color-text-code);
}
.cm-s-obsidian .CodeMirror-linenumber {
  color: var(--color-primary-100);
  font-size: var(--color-size-regular);
}
.cm-s-obsidian .CodeMirror-gutter-elt {
  padding-right: 10px;
}
.cm-s-obsidian .cm-formatting,
.cm-s-obsidian .CodeMirror-foldmarker {
  color: var(--color-primary-100);
}
.cm-s-obsidian .cm-formatting-link,
.cm-s-obsidian .cm-link {
  color: var(--color-text-link) !important;
}
.cm-s-obsidian .cm-formatting-link-string,
.cm-s-obsidian .cm-url {
  color: var(--color-text-linkUrl) !important;
}
.cm-s-obsidian span.cm-quote {
  margin-left: 20px;
  color: var(--color-text-quote);
  font-style: italic;
}
.cm-s-obsidian span.cm-quote.cm-formatting {
  color: var(--color-primary-100);
}
.cm-s-obsidian span.cm-hashtag {
  padding: 5px;
  color: var(--color-text-hash-tag);
  background-color: var(--color-primary-900);
  font-size: var(--color-size-regular);
}
.cm-s-obsidian span.cm-hashtag.cm-formatting {
  color: var(--color-primary-100);
}

.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-family: var(--color-family-primary);
  font-weight: 600;
  line-height: var(--color-lineheight-regular);
  display: block;
  align-items: center;
  white-space: pre-wrap;
}
.markdown-preview-view h1 {
  color: var(--color-title-h1);
}
.markdown-preview-view h2 {
  color: var(--color-title-h2);
}
.markdown-preview-view h3 {
  color: var(--color-title-h3);
}
.markdown-preview-view h4 {
  color: var(--color-title-h4);
}
.markdown-preview-view h5 {
  color: var(--color-title-h5);
}
.markdown-preview-view h6 {
  color: var(--color-title-h6);
}
.markdown-preview-view h1,
.markdown-preview-view h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid var(--color-primary-600);
}
.markdown-preview-view .heading-collapse-indicator {
  color: var(--color-primary-600);
}
.markdown-preview-view p {
  font-family: var(--color-family-primary);
  font-size: var(--color-size-large);
  color: var(--color-text-paragraph);
}
.markdown-preview-view .tag {
  padding: 5px;
  color: var(--color-text-hash-tag);
  background-color: var(--color-primary-900);
  border-radius: 5px;
  font-size: var(--color-size-regular);
  font-weight: 500;
}
.markdown-preview-view ul:not(.contains-task-list) ul:not(.contains-task-list) {
  margin-left: -13px;
  padding-inline-start: 42px;
  border-left: 1px solid var(--color-primary-500);
}
.markdown-preview-view ul li,
.markdown-preview-view ol li {
  margin: 5px 0;
  color: var(--color-text-paragraph);
  font-size: var(--color-size-large);
}
.markdown-preview-view ul {
  list-style: none;
}
.markdown-preview-view ul li:not(.task-list-item)::before {
  content: "•";
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  color: var(--color-text-paragraph);
  font-size: var(--color-size-large);
  font-weight: bold;
}
.markdown-preview-view .list-collapse-indicator {
  color: var(--color-primary-500);
}
.markdown-preview-view li > p {
  display: inline;
}
.markdown-preview-view pre {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: var(--color-primary-1000);
  font-family: var(--color-family-secondary);
  font-weight: 500;
  line-height: var(--color-lineheight-regular);
  border-radius: 5px;
}
.markdown-preview-view pre code {
  color: var(--color-text-code);
  font-size: var(--color-size-regular);
  background-color: unset;
}
.markdown-preview-view a {
  color: var(--color-text-link);
  text-decoration: none;
}
.markdown-preview-view a:hover {
  text-decoration: underline;
}
.markdown-preview-view a.external-link {
  padding-right: 20px;
}
.markdown-preview-view a.internal-link {
  text-decoration: none;
  color: var(--color-text-link);
}
.markdown-preview-view a.internal-link:hover {
  text-decoration: underline;
}
.markdown-preview-view blockquote {
  margin-left: 20px;
  padding: 20px;
  border: unset;
  border-left: 3px solid var(--color-primary-500);
  font-style: italic;
}
.markdown-preview-view blockquote p {
  color: var(--color-text-quote);
}

.CodeMirror.cm-s-obsidian.CodeMirror-wrap, .markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
  max-width: 940px;
}

.mod-root > .nav-folder-title {
  display: none;
}

.nav-file-title.is-active {
  background-color: var(--color-primary-200);
}

body:not(.is-grabbing) .nav-file-title:hover,
body:not(.is-grabbing) .nav-folder-title:hover {
  background-color: var(--color-primary-400);
}

.nav-folder-title,
.nav-file-title,
svg {
  color: var(--color-element-icon);
}

.nav-folder-title,
.nav-file-title {
  font-family: var(--color-family-primary);
}

.nav-folder-title.is-being-dragged-over {
  border: 1px solid var(--color-element-border);
}

.nav-folder-children > .nav-file,
.nav-folder-children > .nav-folder {
  border-left: 1px solid var(--color-element-border-light);
}

.mod-root > .nav-folder-children > .nav-file,
.mod-root > .nav-folder-children > .nav-folder {
  border-left: none;
}

.workspace-tab-container-before,
.workspace-tab-container-after {
  display: none;
}

.workspace-tab-header-container {
  margin-top: 4px;
  margin-left: 4px;
  height: fit-content;
}

.nav-header .nav-buttons-container {
  justify-content: flex-start;
}
.nav-header .nav-action-button {
  margin: 20px 0 10px 0;
}

.workspace-tab-container-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  background-color: var(--color-primary-1100);
}

.workspace-tab-header {
  background-color: transparent;
  border-radius: 10px;
}

.workspace-tab-header-inner {
  padding: 10px;
  background-color: var(--color-primary-800);
  border-radius: 10px;
}

.workspace-tab-header-inner-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.workspace-tab-header.is-before-active,
.workspace-tab-header.is-after-active {
  background-color: transparent;
}
.workspace-tab-header.is-before-active .workspace-tab-header-inner,
.workspace-tab-header.is-after-active .workspace-tab-header-inner {
  background-color: transparent;
}

.titlebar {
  background-color: var(--color-primary-1000);
}
.titlebar .titlebar-text {
  color: var(--color-text-quote);
}
.titlebar .titlebar-button-container.mod-left .titlebar-button svg {
  color: white;
}

.workspace-split,
.workspace-ribbon,
.workspace-ribbon.mod-left.is-collapsed {
  border-right: 1px solid var(--color-primary-1000);
}

.workspace-ribbon.mod-right.is-collapsed {
  border-left: none;
}

.CodeMirror-vscrollbar::-webkit-scrollbar, .markdown-preview-view::-webkit-scrollbar {
  width: 5px;
}
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb, .markdown-preview-view::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-600);
}
.CodeMirror-vscrollbar::-webkit-scrollbar-button, .markdown-preview-view::-webkit-scrollbar-button {
  height: 100%;
}
.CodeMirror-vscrollbar::-webkit-scrollbar-track, .markdown-preview-view::-webkit-scrollbar-track {
  background-color: var(--color-primary-800);
}

.status-bar,
.workspace-ribbon,
.workspace-ribbon.is-collapsed,
.workspace-split.mod-left-split .workspace-tabs,
.workspace-split.mod-left-split .workspace-tabs .workspace-leaf,
.workspace-split.mod-right-split .workspace-tabs .workspace-leaf,
.workspace-leaf-resize-handle,
.workspace-split .workspace-tabs:not(:first-child),
.workspace-tab-header-container {
  background-color: var(--color-primary-900);
}

.status-bar {
  color: var(--color-text-quote);
  border-top: 1px solid var(--color-primary-1000);
}

.workspace-split.mod-root .view-content, .workspace-split.mod-root .CodeMirror-gutter {
  background-color: var(--color-primary-800);
}

.workspace-leaf-content {
  border-radius: 0 !important;
}

.workspace-leaf .view-header {
  background-color: var(--color-primary-900);
  border: 1px solid var(--color-element-border);
}
.workspace-leaf .view-header .view-header-title {
  color: var(--color-element-icon);
}
.workspace-leaf .view-header .view-actions {
  color: var(--color-element-icon);
  background-color: var(--color-primary-900);
}
.workspace-leaf.mod-active .view-header {
  background-color: var(--color-primary-800);
}
.workspace-leaf.mod-active .view-header .view-header-title-container:after {
  content: none;
}
.workspace-leaf.mod-active .view-header .view-header-title {
  color: var(--color-element-icon);
}
.workspace-leaf.mod-active .view-header .view-actions {
  color: var(--color-element-icon);
  background-color: var(--color-primary-800);
}