@use "./_colors.scss" as colors;
@use "./_text.scss" as texts;


.cm-s-obsidian {

  pre.HyperMD-codeblock, .HyperMD-codeblock {
    font-family: texts.font(family, secondary);
    font-size: texts.font(size, small);
    font-weight: 500;
    line-height: texts.font(lineheight, max);
    background-color: colors.get-color(element, codeBlock)!important;
  }

  .cm-hmd-codeblock, .HyperMD-codeblock {
    color: colors.get-color(text, code);
  }

  .CodeMirror-linenumber {
    color: colors.get-color(primary, 100);
    font-size: texts.font(size, regular);
  }

  span.cm-inline-code {
    padding: .2em;
    color: colors.get-color(text, inline-code);
  }

  // Markup-Styling
  span {
    &.cm-tag {
      color: colors.get-color(element, markup-tags);
    }
    &.cm-attribute {
      color: colors.get-color(element, markup-attribute);
    }
    &.cm-string {
      color: colors.get-color(element, markup-attribute-value);
    }
  }

}
