@use "./_colors.scss" as colors;


.cm-s-obsidian {
  width: 100%;

  .cm-lineWrapping {
    width: 100%;
  }

  .cm-line {
    width: 100%;
  }

  .CodeMirror-gutter-elt {
    padding-right: 10px;
  }

  .cm-formatting,
  .CodeMirror-foldmarker {
    color: colors.get-color(primary, 100);
  }

}
