.cm-header-1,
.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5,
.cm-header-6 {
  line-height: font(lineheight, regular);
  font-weight: 500;
  font-size: font(size, regular);
}

.cm-header-1 {
  color: getColor(editor-title, h1);
}

.cm-header-2 {
  color: getColor(editor-title, h2);
}

.cm-header-3 {
  color: getColor(editor-title, h3);
}

.cm-header-4 {
  color: getColor(editor-title, h4);
}

.cm-header-5 {
  color: getColor(editor-title, h5);
}

.cm-header-6 {
  color: getColor(editor-title, h6);
}
