@use "./_colors.scss" as colors;
@use "./_text.scss" as texts;


.cm-s-obsidian {

  span.cm-formatting-list-ol {
    color: colors.get-color(element, ordered-list-indicator);
  }

  span.cm-formatting-list-ul {
    padding-left: 0;
    color: colors.get-color(element, unordered-list-indicator);
  }

  span.cm-formatting.cm-formatting-task {
    margin-left: -3px;
    font-weight: 900;
    color: colors.get-color(element, unordered-list-indicator);
  }

  ul, ol {
    &:first-child {
      margin-bottom: 20px;
    }

    li {
      margin: 5px 0;
      color: colors.get-color(text, paragraph);
      font-size: texts.font(size, regular);
      line-height: texts.font(lineheight, regular);
      strong {
        font-weight: 400;
        color: colors.get-color(text, strong);
        filter: drop-shadow(0 0 3px colors.get-color(text, paragraph));
      }
    }
  }

}
