@use "./_colors.scss" as colors;


.markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper table {
  width: 100%;
  th {
    background-color: colors.get-color(primary, 500)!important;
  }
  th, td {
    padding: 10px;
    border: 1px solid colors.get-color(primary, 500)!important;
  }
}


.markdown-source-view.mod-cm6 .cm-content > [contenteditable=false] {
  width: 880px;
}
