@use "./_colors.scss" as colors;
@use "./_text.scss" as texts;


.cm-s-obsidian {

  span.cm-hashtag {
    padding: 5px;
    color: colors.get-color(text, hash-tag);
    background-color: colors.get-color(primary, 900);
    font-size: texts.font(size, regular);
    &.cm-formatting{
      color: colors.get-color(primary, 100);
    }
  }

}
