.cm-s-obsidian {

  span.cm-hashtag {
    padding: 5px;
    color: getColor(text, hash-tag);
    background-color: getColor(primary, 900);
    font-size: font(size, regular);
    &.cm-formatting{
      color: getColor(primary, 100);
    }
  }

}
