@use "./_colors.scss" as colors;
@use "./_text.scss" as texts;


.cm-strong {
  color: colors.get-color(text, paragraph)!important;
  font-weight: 800;
}

.cm-s-obsidian {
  font-family: texts.font(family, secondary);
  font-size: texts.font(size, small);
  line-height: texts.font(lineheight, regular);
  font-weight: 500;
  color: colors.get-color(text, paragraph);

  .CodeMirror-line {
    color: colors.get-color(text, paragraph);
  }

  .cm-em,
  .cm-strong {
    color: colors.get-color(text, strong);
  }

  .cm-formatting-link,
  .cm-link {
    color: colors.get-color(text, link)!important;
  }

  .cm-formatting-link-string,
  .cm-url {
    color: colors.get-color(text, linkUrl)!important;
  }

  span.cm-quote {
    margin-left: 20px;
    color: colors.get-color(text, quote);
    font-style: italic;
    &.cm-formatting{
      color: colors.get-color(primary, 100);
    }
  }
}

