

.mod-root > .nav-folder-title {
  display: none;
}

.nav-file-title.is-active {
  background-color: color(primary, 200);
}

body:not(.is-grabbing) .nav-file-title:hover,
body:not(.is-grabbing) .nav-folder-title:hover {
  background-color: color(primary, 400);
}

.nav-folder-title,
.nav-file-title,
svg {
  color: color(element, icon);
}

.nav-folder-title,
.nav-file-title {
  font-family: font(family, primary);
}

.nav-folder-title.is-being-dragged-over {
  border: 1px solid color(element, border);
}

.nav-folder-children > .nav-file,
.nav-folder-children > .nav-folder {
  border-left: 1px solid color(element, border-light);
}

.mod-root > .nav-folder-children > .nav-file,
.mod-root > .nav-folder-children > .nav-folder {
  border-left: none;
}

.workspace-tab-container-before,
.workspace-tab-container-after {
  display: none;
}

.search-result {

  .search-result-file-title {
    color: color(text, paragraph)
  }

  .tree-item-flair-outer span {
    margin-right: 7px;
    color: color(text, hash-tag);
    background: color(primary, 1100);
  }

  .search-result-file-match {
    color: color(text, quote);
    background: color(primary, 1100);
  }

  .search-result-file-matched-text {
    padding: 1px 5px;
    color: color(primary, 1100);
    background-color: color(text, hash-tag);
    border-radius: 5px;
  }

}

.workspace-sidedock-vault-profile {
  background-color: color(primary, 900)!important;
  border: none!important;
  width: 100%!important
}

.nav-header {
  margin: 10px;
  padding: 0;
  .nav-buttons-container {
    justify-content: flex-start;
    gap: 10px;
    margin-top: 12px;
  }
  .nav-action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 40px;
    height: 40px;
    background: color(primary, 1000);
    transition: background-color .2s ease;

    &.is-active {
      background-color: color(primary, 800);
      svg {
        color: color(element, icon-highlighted);
      }
    }

    &:hover {
      background-color: #000;
      svg {
        color: color(element, icon-hover);
      }
    }
    svg {
      margin: 0;
      padding: 0;
      transition: color .2s ease;
    }
  }
}

.workspace-tab-container-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  background-color: color(primary, 1100);
}

.workspace-tab-header-container {
  margin-top: 10px;
  margin-left: 10px;
  height: fit-content;

  .workspace-tab-header {
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;

    &.is-active {
      background-color: color(primary, 800);
      border-radius: 10px;
    }
  }

  .workspace-tab-header-inner {
    padding: 10px;
  }

  .workspace-tab-header-inner-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .workspace-tab-header.is-before-active,
  .workspace-tab-header.is-after-active,
  .workspace-tab-header-inner {
    background-color: transparent;
    .workspace-tab-header-inner {
      background-color: transparent;
    }
  }

}
