.view-content {
  .tree-item-inner {
    color: color(text, paragraph);
  }
}

.tag-pane-tag-text {
  color: color(text, paragraph);
  &:before {
    content: '# '
  }
}

.workspace-tabs.mod-top.mod-top-right-space {
  .workspace-tab-header-container {
    .sidebar-toggle-button.mod-right {
      background-color: color(primary, 900);
    }
  }
}

.tag-pane-tag-count {
  color: color(text, hash-tag);
  background-color: color(primary, 1100)
}
