* {
  border: none!important;
}

.clickable-icon, .nav-action-button, .view-header-title-parent {
  cursor: pointer!important;
}

.is-focused .workspace-leaf.mod-active .view-header {
  background-color: var(--color-primary-800)!important;
  border-radius: 10px;
}

.titlebar {
  background-color: color(primary, 1000);
  .titlebar-text {
    color: color(text, quote);
  }
  .titlebar-button-container.mod-left .titlebar-button svg {
    color: white;
  }
}

.workspace-ribbon, .side-dock-ribbon, .mod-left {
  &:before {
    background-color: color(primary, 900)!important;
    border: none!important;
  }
}

.workspace-split,
.workspace-ribbon,
.workspace-ribbon.mod-left.is-collapsed {
  border-right: 1px solid color(element, border);
}

.workspace-ribbon.mod-right.is-collapsed {
  border-left: none;
}

.CodeMirror-vscrollbar, .markdown-preview-view {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: color(primary, 600);
  }
  &::-webkit-scrollbar-button {
    height: 100%;
  }
  &::-webkit-scrollbar-track {
    background-color: color(primary, 800);
  }
}

.status-bar,
.workspace-ribbon,
.workspace-ribbon.is-collapsed,
.workspace-split.mod-left-split .workspace-tabs,
.workspace-split.mod-left-split .workspace-tabs .workspace-leaf,
.workspace-split.mod-right-split .workspace-tabs .workspace-leaf,
.workspace-leaf-resize-handle,
.workspace-split .workspace-tabs:not(:first-child),
.workspace-tab-header-container {
  background-color: color(primary, 900);
}

.status-bar {
  color: color(text, quote);
  border-top: 1px solid color(primary, 900);
}

.workspace-split.mod-root {
  .view-content, .CodeMirror-gutter {
    background-color: color(primary, 800);
  }
}

.workspace-leaf-content {
  border-radius: 0!important;
}

.workspace-leaf {

  .mod-fade:not(.mod-at-end):after {
    content: none!important;
  }

  .view-header {
    padding-right: 0;
    background-color: color(primary, 900);
    border: none;
    .view-header-title {
      color: color(element, icon);
    }
    .view-actions {
      padding: 12px;
      color: color(element, icon);
      background-color: color(primary, 900);
    }
  }

  &.mod-active {
    .view-header {
      background-color: color(primary, 800);
      .view-header-title {
        color: color(element, icon);
        &:after {
          content: none;
        }
      }
      .view-actions {
        color: color(element, icon);
        background-color: color(primary, 800);
      }
    }
  }

}
