@use "./_colors.scss" as colors;
@use "./_text.scss" as texts;


.markdown-preview-view {

  pre {
    margin: 40px 0!important;
    padding: 20px;
    background-color: colors.get-color(text, code-background)!important;
    font-family: texts.font(family, secondary);
    font-weight: 500;
    line-height: texts.font(lineheight, regular);
    border-radius: 5px;
    &.language-_note {
      margin: 20px 0;
      padding: 20px;
      background-color: colors.get-color(primary, 700)!important;
      box-shadow: 0 0 20px colors.get-color(primary, 900);
      code {
        white-space: initial;
        &:before {
          content:'#Note: ';
          color: colors.get-color(text, note-indicator);
          filter: drop-shadow(0 0 5px #000);
          font-size: texts.font(size, large);
          font-weight: 600;
        }
      }
    }

    code {
      color: colors.get-color(text, code);
      line-height: texts.font(lineheight, large)!important;
      font-size: texts.font(size, regular);
      background-color: unset!important;
    }
  }

  p code,
  tbody tr td code {
    padding: .2em 10px;
    color: colors.get-color(text, inline-code);
    background-color: colors.get-color(text, code-background)!important;
    border-radius: 5px;
  }

}
