.markdown-preview-view {

  // TODO: set colors as like the vscode default Dark+ theme
  pre {
    margin: 40px 0!important;
    padding: 20px;
    background-color: color(primary, 1100)!important;
    font-family: font(family, secondary);
    font-weight: 500;
    line-height: font(lineheight, regular);
    border-radius: 5px;
    code {
      color: color(text, code);
      line-height: font(lineheight, max)!important;
      font-size: font(size, regular);
      background-color: unset!important;
    }
  }

}
