.markdown-preview-view {

  iframe {
    margin: 20px 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
  }

  video {
    margin: 20px 0;
  }

  .internal-embed, .media-embed {
    margin: 0;
    height: auto;
    line-height: 0;
  }

}
