.markdown-preview-view {

  ul:not(.contains-task-list) ul:not(.contains-task-list) {
    margin-left: -13px;
    padding-inline-start: 42px;
    border-left: 1px solid getColor(primary, 500);
  }

  ul, ol {
    &:first-child {
      margin-bottom: 20px;
    }

    li {
      margin: 5px 0;
      color: getColor(text, paragraph);
      font-size: font(size, regular);
      line-height: font(lineheight, regular);
      strong {
        font-weight: 400;
        color: getColor(text, strong);
        filter: drop-shadow(0 0 3px getColor(text, paragraph));
      }
    }
  }

  ul li {
    padding-left: 10px;
    &::marker {
      color: getColor(element, unordered-list-indicator)!important;
    }
  }

  ol li {
    margin-left: 32px;

    &::marker {
      color: getColor(element, ordered-list-indicator);
    }
  }

  .list-collapse-indicator {
    color: getColor(primary, 500);
  }

  li > p {
    display: inline;
  }

  .task-list-item {
    margin-top: 10px!important;
    margin-bottom: 20px!important;

    input.task-list-item-checkbox {
      top: .5em;
      transform: translateX(-20px);
      margin-right: 0px;
      margin-left: 10px;
      width: 22px;
      min-width: 22px;
      height: 22px;
      min-height: 22px;
      background-color: getColor(primary, 500);
      border: 2px solid getColor(primary, 100);
      border-radius: 3px;
      filter: none;
      cursor: pointer;
      appearance: none;
      -webkit-appearance: none;
      &:checked {
        background-color: getColor(primary, 100)!important;
        &:before {
          content: '✓';
          color: getColor(element, unordered-list-indicator);
          font-weight: 900;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
        &:after {
          content: none;
        }
      }
    }
    &.is-checked {
      color: getColor(text, paragraph)!important;
      text-decoration: none!important;
    }
  }

}
