.markdown-preview-view {

  p {
    .tag {
      padding: 10px;
      color: getColor(text, hash-tag);
      background-color: getColor(primary, 1000);
      border-radius: 5px;
      font-size: font(size, small);
      font-weight: 500;
    }
  }

}
