@use "./_colors.scss" as colors;
@use "./_text.scss" as texts;


.markdown-preview-view {

  p {
    .tag {
      padding: 10px;
      color: colors.get-color(text, hash-tag);
      background-color: colors.get-color(primary, 1000);
      border-radius: 5px;
      font-size: texts.font(size, small);
      font-weight: 500;
    }
  }

}
