.markdown-preview-view {

  p {
    margin: 20px 0;
    color: color(text, paragraph);
    font-weight: 400;
    font-family: font(family, primary);
    font-size: font(size, regular);
    line-height: font(lineheight, large);

    strong {
      font-weight: 400;
      color: color(text, strong);
      filter: drop-shadow(0 0 3px color(text, paragraph));
    }
  }

  a {
    color: color(text, link);
    text-decoration: none;
    line-height: 0;

    &:hover {
      text-decoration: underline;
    }

    &.external-link {
      padding-right: 20px;
    }

    &.internal-link {
      text-decoration: none;
      color: color(text, link);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  blockquote {
    margin: 20px;
    border: unset;
    border-left: 1px solid color(primary, 400);
    font-style: italic;
    p {
      color: color(text, quote);
    }
  }

}
