@use "./_colors.scss" as colors;
@use "./_text.scss" as texts;


.markdown-preview-view {

  p {
    margin-bottom: 10px;
    color: colors.get-color(text, paragraph);
    font-weight: 400;
    font-family: texts.font(family, primary);
    font-size: texts.font(size, regular);
    line-height: texts.font(lineheight, large);

    strong {
      font-weight: 400;
      color: colors.get-color(text, strong);
      filter: drop-shadow(0 0 3px colors.get-color(text, paragraph));
    }
  }

  a {
    color: colors.get-color(text, link);
    text-decoration: underline;
    line-height: 0;

    &:hover {
      text-decoration: underline;
    }

    &.external-link {
      margin-right: .2em;
    }

    &.internal-link {
      text-decoration: none;
      color: colors.get-color(text, link);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  blockquote {
    position: relative;
    margin: 20px;
    border: unset;
    border-left: 2px solid colors.get-color(primary, 600);
    font-style: italic;
    p {
      color: colors.get-color(text, quote)!important;
    }
    ::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      opacity: .25;
      height: 100%;
      background-color: colors.get-color(text, quote-border)!important;
    }
    p {
      font-size: 1.3em!important;
      color: colors.get-color(text, quote);
    }
  }

}
