.markdown-preview-view {

  p {
    margin-bottom: 20px;
    color: color(text, paragraph);
    font-weight: 400;
    font-family: font(family, primary);
    font-size: font(size, regular);
    line-height: font(lineheight, large);

    strong {
      font-weight: 400;
      color: color(text, strong);
      filter: drop-shadow(0 0 3px color(text, paragraph));
    }
  }

  a {
    color: color(text, link);
    text-decoration: none;
    line-height: 0;

    &:hover {
      text-decoration: underline;
    }

    &.external-link {
      margin-right: .2em;
    }

    &.internal-link {
      text-decoration: none;
      color: color(text, link);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  blockquote {
    margin: 20px;
    border: unset;
    border-left: 2px solid color(primary, 600);
    color: color(text, paragraph);
    font-style: italic;
    ::before {
      content: '" ';
      font-size: 1.3em!important;
    }
    ::after {
      content: ' "';
      font-size: 1.3em!important;
    }
    p {
      font-size: 1.3em!important;
      color: color(text, quote);
    }
  }

}
